.card-view {
  & {
    margin-bottom: 20px;
  }

  &__label {
    text-transform: uppercase;
    font-size: 0.75rem;

    padding-bottom: 5px;
  }

  &__value {
    color: black;
  }

  &--column-view &__value {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
  }
}