.dashboard {
  & {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
  }

  &__menu {
    grid-column: 1;
    display: flex;
    justify-items: stretch;
  }

  &__content {
    padding: 50px;
  }
}
