.menu-item {
  & {
    color: #aab0c4;
    height: 3rem;
    line-height: 3rem;
    padding-left: 85px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    position: relative;
  }

  &--active {
    & {
      color: #3c86f2;
      position: relative;
    }

    &:before {
      content: "";
      width: 4px;
      height: 100%;
      left: 0;
      position: absolute;
      background-color: currentColor;
      display: block;
    }
  }
}
